body {
        background-image: linear-gradient(90deg,
            #F6CF57 20%,
            #55A3AB 20%,  #55A3AB 40%,
            #F15F3E 40%, #F15F3E 60%,
            #89C893 60%, #89C893 80%,
            #F6CF57 80%);
    }
    
.search-pokemon {
        padding: 6px;
        margin: 59px;
        border-radius: 16px;
    }

input {
    text-align: center;
}

#submit {
    border-radius: 10px;
}

    

